.item-list{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.card {
	width: 30%;
	min-width: 300px;
}
/*Live view Styles*/
.live-view {
	width : 100%;
}

.container {
	margin: 0 auto;
	padding: 2%;
	width: 100%;
	height : 100%;
	color : #333;
	background: #202020
}

.slick-slide #liveImage{
	opacity: 0.7;
	transition: opacity .4s ease-out;
}

.slick-slide #liveImage:hover {
	opacity: 1;
	transform: scale(1.2)
	cursor: pointer;
}
